@{
    ViewBag.Title = "Star Wars Page";
}
<div class="jumbotron">
<img src="~/Content/starwars.jpg" /></div>


<div class="row">
    <div class="col-lg-3">
            <a href="/DeathStar">
                Deathstar Plans
                <img src="~/Content/deathstar.jpg" />
            </a>
    </div>
</div>